
name: Experiments

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches: '*'

jobs:
  build:
    runs-on: macos-10.15
    steps:
      - name: Dump GitHub context
        env:
          # GITHUB_CONTEXT: ${{ toJson(github) }}
          CONTAINS_BLOCKED_LABEL: ${{ contains(github.event.pull_request.labels.*.name, 'blocked') }}
          IS_WIP_PR: ${{ startsWith(github.event.pull_request.title, '[WIP]') }}
        run: exit 0
